You are developing MCP servers.
We use pnpm for package management and running scripts.
The user must be running `pnpm dev` this will run two package.json scripts concurrently: `watch`, which watches for changes and rebuilds immediatly after changes and `inspector` which uses `pnpx @modelcontextprotocol/inspector build/index.js` to inspect the MCP server. `inspector` will start a server in http://localhost:5173.
The transport type is STDIO so using console.log will not work.
The MCP servers will be used as part of Cline a VSCode extension.
You can't restart or build the MCP server, ask the user to do so via: `pnpm build` and then to manually restart the server inside Cline's settings.
The debugging server needs to be manually restarted every time there's a change to the index.ts file (the MCP server). The user can use the debugging server to explore tools and resources created on the server.
